<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal">
            <div class="row">
                <div class="col col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Загальна інформація</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="surname">Прізвище</label>
                                <input type="text" class="form-control" id="surname" placeholder="Прізвище">
                            </div>
                            <div class="form-group">
                                <label for="name">Ім'я</label>
                                <input type="text" class="form-control" id="name" placeholder="Ім'я">
                            </div>
                            <div class="form-group">
                                <label for="middle-name">По-батькові</label>
                                <input type="text" class="form-control" id="middle-name" placeholder="По-батькові">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Пошук інформації</h3>
                        </div>
                        <div class="panel-body">
                            <button type="button" class="btn btn-primary" data-action="search">Пошук</button>
                            <button type="button" class="btn btn-primary"
                                    data-action="refresh-search">Оновити пошук
                            </button>
                            <br>
                            <br>
                            <input type="search" class="form-control typeahead" id="student-search" placeholder="ПІБ">
                        </div>
                    </div>
                </div>

                <div class="col col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Паспортні Дані</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col col-md-6">
                                    <div class="form-group">
                                        <label for="passport-serial-number">Серія</label>
                                        <input type="text" class="form-control" id="passport-serial-number"
                                               placeholder="Серія">
                                    </div>
                                </div>
                                <div class="col col-md-6">
                                    <div class="form-group">
                                        <label for="passport-number">Номер</label>
                                        <input type="text" class="form-control" id="passport-number"
                                               placeholder="Номер">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="passport-issued-by">Ким виданий</label>
                                <input type="text" class="form-control" id="passport-issued-by"
                                       placeholder="Ким виданий">
                            </div>
                            <div class="row">
                                <div class="col col-md-6">
                                    <div class="form-group">
                                        <label for="passport-issued-date">Дата видачі</label>
                                        <input type="datetime" class="form-control" id="passport-issued-date"
                                               placeholder="Дата видачі">
                                    </div>
                                </div>
                                <div class="col col-md-6">
                                    <div class="form-group">
                                        <label for="passport-birth-year">Рік народження</label>
                                        <input type="text" class="form-control" id="passport-birth-year"
                                               placeholder="Рік народження">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Додаткова інформація</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col col-md-4">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Супровідний документ
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <li><a href="#">Один</a></li>
                                            <li><a href="#">Два</a></li>
                                            <li><a href="#">Три</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="radio" value="" name="payment-type">
                                            Безоплатне поселення
                                        </label>
                                    </div>
                                </div>
                                <div class="col col-md-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Примітка</h3>
                                        </div>
                                        <div class="panel-body">
                                            <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col col-md-4">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Статус мешканця
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <li><a href="#">Один</a></li>
                                            <li><a href="#">Два</a></li>
                                            <li><a href="#">Три</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col col-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="radio" name="payment-type" value="">
                                            По перерахунку
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Плата за проживання</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col col-md-5">
                                    <div class="form-group">
                                        <label for="daily-payment">Оплата за добу</label>
                                        <input type="email" class="form-control" id="daily-payment">
                                    </div>
                                    <div class="form-group">
                                        <label for="rent-duration">К-ть діб проживання</label>
                                        <input type="email" class="form-control" id="rent-duration">
                                    </div>
                                    <div class="form-group">
                                        <label for="living-payment">Оплата проживання</label>
                                        <input type="email" class="form-control" id="living-payment">
                                    </div>
                                </div>

                                <div class="col col-md-2">

                                </div>

                                <div class="col col-md-5">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Особа, яка сплачує кошти
                                        </label>
                                    </div>

                                    <br>

                                    <div class="form-group">
                                        <label for="total-payment-amount">Загальна сума коштів</label>
                                        <input type="email" class="form-control" id="total-payment-amount">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Бронювання</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col col-md-4">
                                    <div class="form-group">
                                        <label for="incoming-date">Дата поселення</label>
                                        <input type="date" class="form-control" id="incoming-date">
                                    </div>
                                </div>
                                <div class="col col-md-4">
                                    <div class="form-group">
                                        <label for="kickout-date">Дата виселення</label>
                                        <input type="date" class="form-control" id="kickout-date">
                                    </div>
                                </div>
                                <div class="col col-md-4">
                                    <button type="button" class="btn btn-primary btn-lg">
                                        Скасувати бронювання
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Поселення</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col col-md-4">
                                    <div class="form-group">
                                        <label for="incoming-date">Дата поселення</label>
                                        <input type="datetime-local" class="form-control" id="incoming-date">
                                    </div>
                                </div>
                                <div class="col col-md-4">
                                    <div class="form-group">
                                        <label for="kickout-date">Дата виселення</label>
                                        <input type="datetime-local" class="form-control" id="kickout-date">
                                    </div>
                                </div>
                                <div class="col col-md-4">
                                    <button type="button" class="btn btn-primary btn-lg">
                                        Виселити
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-4">
                    <button type="button" class="btn btn-primary btn-lg">
                        Зберегти
                    </button>
                </div>
                <div class="col col-md-4"></div>
                <div class="col col-md-4">
                    <button type="button" class="btn btn-primary btn-lg">
                        Скасувати
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
